<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<p th:text="${errorMsg}" style="color:red;"></p>

<form method="post">
    <div class="form-group">
        <label>Name
            <input type="text" th:field="${event.name}" class="form-control">
        </label>
    </div>
    <p class="error" th:errors="${event.name}"></p>
    <div class="form-group">
        <label>Description
            <input type="text" th:field="${event.description}" class="form-control">
        </label>
    </div>
    <p class="error" th:errors="${event.description}"></p>
    <div class="form-group">
        <label>Contact Email
            <input type="text" th:field="${event.contactEmail}" class="form-control">
        </label>
    </div>
    <p class="error" th:errors="${event.contactEmail}"></p>
    <div class="form-group">
        <label>Location
            <input type="text" th:field="${event.location}" class="form-control">
        </label>
    </div>
    <p class="error" th:errors="${event.location}"></p>
    <div class="form-group">
        <label>Registration
            <input type="text" th:field="${event.mustRegister}" class="form-control">
        </label>
    </div>
    <p class="error" th:errors="${event.mustRegister}"></p>
    <div class="form-group">
        <label>Number of Attendees
            <input type="text" th:field="${event.numberOfAttendees}" class="form-control">
        </label>
    </div>
    <p class="error" th:errors="${event.numberOfAttendees}"></p>
    <div class="form-group">
        <label>Duration
            <input type="text" th:field="${event.duration}" class="form-control">
        </label>
    </div>
    <p class="error" th:errors="${event.duration}"></p>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-success">
    </div>
</form>

</body>
</html>